<div class="container-fluid">

  <!-- start page title -->
  <app-page-title title="Property Detail" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="card">
      <div class="card-body">
        <div class="property-info d-flex justify-content-between justify-items-center">
          <div class="p-4">
            <h4 class="property-title" >
              {{property?.title}}
              (<a href="javascript: void(0);" class="property-type">{{property?.propertyType}}</a>)
            </h4>
          </div>
          <div class="property-price p-4">
            Price:
            <span>{{property?.pricePerDay}} MAD</span>
            <strong>{{property?.pricePerMonth}} MAD</strong>
          </div>
        </div>

        <ul ngbNav #nav="ngbNav" [activeId]="1" class="nav-tabs">
          <li [ngbNavItem]="1">
            <a ngbNavLink>
              <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
              <span class="d-none d-sm-block">Home</span>
            </a>
            <ng-template ngbNavContent>
              <ng-template [ngTemplateOutlet]="propertyDetails"></ng-template>
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink>
              <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
              <span class="d-none d-sm-block">Property Rents</span>
            </a>
            <ng-template ngbNavContent>
              <app-property-rents [propertyId]="property.id"></app-property-rents>
            </ng-template>
          </li>
        </ul>
        <div [ngbNavOutlet]="nav"></div>
      </div>
    </div>
  </div><!-- End Default Tabs -->

  <!-- property details -->
  <ng-template #propertyDetails>
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-xl-6">
                <div class="product-detai-imgs" *ngIf="property?.images?.length">
                  <div class="row">
                    <ul ngbNav #nav="ngbNav" class="col-md-2 col-sm-3 col-4" orientation="vertical">
                      <li *ngFor="let image of property?.images; let i = index" [ngbNavItem]="i" class="p-2">
                        <a ngbNavLink>
                          <img [src]="image.path" alt="" class="img-fluid mx-auto d-block rounded" />
                        </a>
                        <ng-template ngbNavContent>
                          <img [src]="image.path" id="expandedImg" alt="" class="img-fluid mx-auto d-block">
                        </ng-template>
                      </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="col-md-7 offset-md-1 col-sm-9 col-8"></div>
                  </div>
                </div>
              </div>

              <div class="col-xl-6 h5">
                <div class="mt-4 mt-xl-3">

                  <!-- Address -->
                  <h4>Address: </h4>
                  <p class="text-muted mb-4">{{property?.address}}, {{property?.city}}</p>

                  <!-- Description -->
                  <h4>Description: </h4>
                  <p class="text-muted mb-4"
                     [innerHTML]="property?.description"
                     style="background-color: #f5f5f5; padding: 10px; border-radius: 5px; min-height: 100px; max-height: 200px; overflow-y: auto; display: block; width: 100%;"
                  ></p>

                  <!-- Features -->
                  <div class="row mb-3">
                    <div class="col-md-4">
                      <p class="text-muted"><i class="bx bx-building-house font-size-24 align-middle text-primary mr-3"></i>{{property?.numberOfRooms}} Rooms</p>
                    </div>
                    <div class="col-md-4">
                      <p class="text-muted"><i class="bx bx-rectangle font-size-24 align-middle text-primary mr-3"></i>{{property?.size}} m<sup>2</sup></p>
                    </div>
                    <div class="col-md-4">
                      <p class="text-muted"><i class="bx bxs-tag font-size-24 align-middle text-primary mr-1"></i>{{property?.hasBalcony ? 'Has Balcony' : 'No Balcony'}}</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- end row -->

          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <!-- end property details -->
</div>
