<div>
    <div class="container-fluid p-0">
        <div class="d-flex justify-content-center justify-item-center g-0">
            <div class="col-xl-4">
                <div class="auth-full-page-content justify-content-center p-md-5 p-4">
                    <div class="w-100">

                        <div class="d-flex flex-column justify-item-center align-items-center h-100">
                            <div>
                                <a routerLink="/" class="d-block auth-logo">
                                    <img src="assets/images/logo-dark.png" alt="" height="40" class="auth-logo-dark">
                                    <img src="assets/images/logo-light.png" alt="" height="40" class="auth-logo-light">
                                </a>
                            </div>
                            <div class="my-auto w-100">
                                <div>
                                    <h4 class="text-primary"> Reset Password</h4>
                                </div>

                                <div class="mt-4">
                                  <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
                                  <ngb-alert type="success" *ngIf="success" [dismissible]="false" [innerHTML]="success"></ngb-alert>
                                    <form [formGroup]="resetForm" (ngSubmit)="onSubmit()"
                                          *ngIf="!isTokenValid; else resetPwd"
                                    >
                                        <div class="mb-3">
                                            <label for="useremail">Email</label>
                                              <input type="email" formControlName="email"
                                                     [ngClass]="{ 'is-invalid': submitted && f.email.errors }" class="form-control" id="useremail"
                                                     placeholder="Enter email">
                                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                                    <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                                                </div>
                                        </div>

                                        <div>
                                            <button class="btn btn-primary w-100 waves-effect waves-light"
                                                type="submit">Reset</button>
                                        </div>

                                    </form>
                                     <ng-template #resetPwd>
                                        <form [formGroup]="resetPwdForm" (ngSubmit)="onResetPwd()">
                                            <div class="mb-3">
                                                <label for="userpassword">Password</label>
                                                <div class="input-group">
                                                  <input [type]="showPassword? 'text' : 'password' " formControlName="password"
                                                         [ngClass]="{ 'is-invalid': submitted && pwdForm.password.errors }" class="form-control" id="userpassword"
                                                         placeholder="Enter password">
                                                  <button class="btn btn-outline-secondary" type="button" (click)="showPassword = !showPassword">
                                                    <i class="mdi"
                                                       [class]="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
                                                    ></i>
                                                  </button>
                                                </div>
                                                    <div *ngIf="submitted && pwdForm.password.errors" class="invalid-feedback">
                                                        <div *ngIf="pwdForm.password.errors.required">Password is required</div>
                                                        <div *ngIf="pwdForm.password.errors.minlength">Password must be at least 6 characters</div>
                                                    </div>
                                            </div>

                                            <div class="mb-3">
                                              <label for="userpassword" class="form-label">Confirm Password</label>
                                              <div class="input-group">
                                                <input [type]="showPassword ? 'text' : 'password'" formControlName="confirmPassword"
                                                       [ngClass]="{ 'is-invalid': submitted && pwdForm.confirmPassword.errors }"
                                                       class="form-control" id="userpassword" placeholder="Enter password">
                                                <button class="btn btn-outline-secondary" type="button" (click)="showPassword = !showPassword">
                                                  <i class="mdi"
                                                    [class]="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
                                                  ></i>
                                                </button>
                                              </div>
                                            </div>
                                            <div *ngIf="submitted && pwdForm.confirmPassword.errors" class="invalid-feedback">
                                                <div *ngIf="pwdForm.confirmPassword.errors.required">Confirm Password is required</div>
                                                <div *ngIf="pwdForm.confirmPassword.errors.mustMatch">Passwords must match</div>
                                            </div>

                                        <div>
                                            <button class="btn btn-primary w-100 waves-effect waves-light"
                                                type="submit" [disabled]="success || loading">
                                              <span *ngIf="loading" class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
                                              {{ loading ? 'Resiting Password...' : 'Reset Now' }}
                                            </button>
                                        </div>

                                      </form>
                                   </ng-template>
                                     <div class="mt-5 text-center">
                                      <p>Remember It ? <a routerLink="/account/login"
                                              class="fw-medium text-primary"> Sign In here</a> </p>
                                  </div>
                                </div>
                            </div>
                            <div class="mt-4 mt-md-5 text-center">
                                <p class="mb-0">©{{year}} KRIHNA. Crafted with <i class="mdi mdi-heart text-danger"></i>
                                    by Khalid fifel</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container-fluid -->
</div>
