<div class="container-fluid">
  <app-page-title title="Property new" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h2 class="card-title">Add New Property</h2>
        </div>
        <div class="card-body">
          <div>
            <form (ngSubmit)="onsubmit()">

              <div class="mb-3">
                <label for="form-title-input">title</label>
                <input type="text" class="form-control" id="form-title-input"
                       name="title"
                       [(ngModel)]="property.title" >
              </div>

              <div class="mb-3">
                <label for="form-description-input">Description</label>
                <ckeditor [editor]="Editor"
                          (blur)="onContentDescriptionChange($event)"
                          id="form-description-input"
                ></ckeditor>
              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="form-size-input">Size  (m<span class="superscript">2</span>)</label>
                    <input type="number" class="form-control" id="form-size-input"
                           name="size"
                           [(ngModel)]="property.size" >
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="form-pricePerDay-input">Price Per Day (in MAD)</label>
                    <div class="input-group">
                      <input type="number" class="form-control" id="form-pricePerDay-input"
                             name="pricePerDay"
                             [(ngModel)]="property.pricePerDay" />
                      <div class="input-group-prepend">
                        <span class="input-group-text">MAD</span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="form-pricePerMonth-input">Price Per Month (in MAD)</label>
                    <div class="input-group">
                      <input type="number" class="form-control" id="form-pricePerMonth-input"
                             name="pricePerMonth"
                             [(ngModel)]="property.pricePerMonth" />
                      <div class="input-group-prepend">
                        <span class="input-group-text">MAD</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="row">

                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="form-numberOfRooms-input">Number Of Rooms</label>
                    <input type="number" class="form-control" id="form-numberOfRooms-input"
                            name="numberOfRooms"
                           [(ngModel)]="property.numberOfRooms" />
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="form-propertyType-input">Property Type</label>
                    <select class="form-control"
                            id="form-propertyType-input"
                            name="propertyType"
                            [(ngModel)]="property.propertyType" >
                      <option *ngFor="let propertyType of propertyKeys" [value]="propertyType">{{propertyType}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="mb-3">
                    <label for="form-hasBalcony-input">Has Balcony</label>
                    <input type="checkbox" class="form-check-input" />
                    <br/>
                    <ui-switch defaultBoColor="#dfdfdf" id="form-hasBalcony-input"
                               color="#7266ba"
                               class="ms-1"
                               name="hasBalcony"
                               [(ngModel)]="property.hasBalcony"></ui-switch>
                  </div>
                </div>
              </div>

              <div class="row">
                <div class="col-lg-4">
                  <div class="mb-3">
                    <label for="form-inputCity">City</label>
                    <select class="form-control" id="form-inputCity"
                            name="city"
                            [(ngModel)]="property.city" >
                      <option *ngFor="let city of cities$ | async " [value]="city">{{city}}</option>
                    </select>
                  </div>
                </div>
                <div class="col-lg-4">
                  <div class="mb-3">
                    <label for="form-inputState">Address</label>
                    <input type="text" id="form-inputState" class="form-control"
                            name="address"
                           [(ngModel)]="property.address" />
                  </div>
                </div>
              </div>

              <div class="form-group">
                <div class="card-title">Images</div>
                <div class="custom-dropzone" ngx-dropzone [accept]="'image/*'" (change)="onSelect($event)">
                  <ngx-dropzone-label>
                    <div>
                      <h2>My custom dropzone</h2>
                    </div>
                  </ngx-dropzone-label>
                  <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" *ngFor="let f of files" [file]="f" [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                  </ngx-dropzone-image-preview>
                </div>
              </div>

              <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
