<div class="container-fluid p-0">
  <div class="d-flex justify-content-center justify-item-center g-0">
    <div class="col-xl-5 col-12">
      <div class="auth-full-page-content justify-content-center p-md-5 p-4">
        <div class="w-100">

          <div class="d-flex flex-column justify-item-center align-items-center h-100">
            <div class="mb-4 mb-md-5">
              <a routerLink="/" class="d-block auth-logo">
                <img src="assets/images/logo-dark.png" alt="" height="40" class="auth-logo-dark">
                <img src="assets/images/logo-light.png" alt="" height="40" class="auth-logo-light">
              </a>
            </div>
              <div class="my-auto w-100">
                  <div>
                      <h5 class="text-primary">Register account</h5>
                      <p class="text-muted">Get your free KriHna account now.</p>
                  </div>
                  <div class="mt-4">
                      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()"
                        class="row">
                          <ngb-alert type="success" *ngIf="registerSuccess" [dismissible]="false">
                            You account has been created.
                          </ngb-alert>

                          <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>

                          <div class="col-6 mb-3">
                              <label for="firstName">First Name</label>
                              <input type="text" formControlName="firstName" class="form-control" id="firstName"
                                  [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                                  placeholder="Enter FirstName">
                              <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                                  <div *ngIf="f.firstName.errors.required">First Name is required</div>
                              </div>
                          </div>

                          <div class="col-6 mb-3">
                              <label for="lastName">Last Name</label>
                              <input type="text" formControlName="lastName" class="form-control" id="lastName"
                                  [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                                  placeholder="Enter LastName">
                              <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                                  <div *ngIf="f.lastName.errors.required">Last name is required</div>
                              </div>
                          </div>

                          <div class="mb-3">
                              <label for="useremail">Email</label>
                              <input type="email" formControlName="email"
                                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
                                  class="form-control" id="useremail" placeholder="Enter email">
                              <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                  <div *ngIf="f.email.errors.required">Email is required</div>
                                  <div *ngIf="f.email.errors.email">Email must be a valid email address</div>
                              </div>
                          </div>

                          <div class="mb-3">
                              <label for="userpassword">Password</label>

                            <div class="input-group">
                              <input [type]="showPassword? 'text' : 'password'" formControlName="password"
                                     [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
                                     class="form-control" id="userpassword" placeholder="Enter password">
                              <button class="btn btn-outline-primary" type="button" (click)="showPassword = !showPassword">
                                <i class="mdi"
                                   [class]="showPassword ? 'mdi-eye-off' : 'mdi-eye'"
                                ></i>
                              </button>
                            </div>
                              <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                  <div *ngIf="f.password.errors.required">Password is required</div>
                              </div>
                          </div>

                          <div>
                              <p class="mb-0">By registering you agree to the krihna <a
                                      href="javascript: void(0);" class="text-primary">Terms of Use</a>
                              </p>
                          </div>

                          <div class="mt-4 d-grid">
                              <button class="btn btn-primary btn-block" type="submit">Register</button>
                          </div>

                      </form>

                      <div class="mt-5 text-center">
                          <p>Already have an account ? <a routerLink="/account/login"
                                  class="fw-medium text-primary"> Login</a> </p>
                      </div>
                  </div>
              </div>

              <div class="mt-4 mt-md-5 text-center">
                  <p class="mb-0">© {{year}} KRIHNA. Crafted with <i class="mdi mdi-heart text-danger"></i>
                      by Khalid fifel</p>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- end col -->
</div>
<!-- end row -->
</div>
<!-- end container-fluid -->
