<div class="px-3 content-property-list">

  <!-- start page title -->
  <app-page-title title="Property Available" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <section id="top-property">
    <div class="row p-1 flex-row-reverse">

      <div class="col-md-2">
      <!-- Search Filters (Initially Hidden) -->
        <div class="mb-4 filters-container">
          <form class="row" (ngSubmit)="deepFilter()">
            <div class="">
              <label for="title">Title:</label>
              <input type="text" id="title" class="form-control" name="title" [(ngModel)]="deepSearchQueries.title">
            </div>
            <div class="">
              <label for="address">Address:</label>
              <input type="text" id="address" class="form-control" name="address" [(ngModel)]="deepSearchQueries.address">
            </div>
            <div class="">
              <label for="numberOfRooms">Room Need:</label>
              <input type="number" id="numberOfRooms" class="form-control" name="numberOfRooms" [(ngModel)]="deepSearchQueries.numberOfRooms">
            </div>

            <div class="">
              <label for="minPricePerDay">Min Price:</label>
              <div class="input-group">
                <input type="number" id="minPricePerDay" class="form-control" name="minPricePerDay" [(ngModel)]="deepSearchQueries.minPricePerDay">
                <span class="input-group-text" style="padding: 6px; height: 100%">MAD</span>
              </div>
            </div>

            <div class="">
              <label for="maxPricePerDay">Max Price:</label>
              <div class="input-group">
                <input type="number" id="maxPricePerDay" class="form-control" name="maxPricePerDay" [(ngModel)]="deepSearchQueries.maxPricePerDay">
                <span class="input-group-text" style="padding: 6px; height: 100%">MAD</span>
              </div>
            </div>
            <div class="">
              <label for="propertyType">Property Type:</label>
              <select class="form-select" id="propertyType" name="propertyType" [(ngModel)]="deepSearchQueries.propertyType">
                <option [value]="null" >Select Your City</option>
                <option *ngFor="let type of propertyKeys" [value]="type">{{type}}</option>
              </select>
            </div>

            <div class="">
              <label for="city">City:</label>
              <input type="text" id="city" class="form-control" name="city" [(ngModel)]="deepSearchQueries.city">
            </div>

            <div class="">
              <label></label>
              <button class="btn-filter form-control">Filter</button>
            </div>
          </form>
        </div>
      </div>


      <div class="row col-md-10">

        <div class="row align-items-center mb-4">
          <div class="col">
            <h1 class="mb-0">{{totalItems}} Available Accommodations
              <span *ngIf="searchQueries.startDate && searchQueries.endDate">for {{ searchQueries.startDate | date: 'mediumDate' }} - {{ searchQueries.endDate | date: 'mediumDate' }}</span>
              <span *ngIf="searchQueries.city === '' "> in the city {{searchQueries.city}}</span>
            </h1>
            <p class="text-muted mt-2">Explore the accommodations that are available for booking between these dates.</p>
          </div>
        </div>

        <div class="col-xl-4 col-sm-6" *ngFor="let property of (properties$ | async)">
          <div class="card">
            <div class="card-body">
              <div class="image-container">
                <a (click)="navigateToDetail(property.id)" href="javascript: void(0);">
                  <img [src]="property.images[0]?.path"
                       [alt]="property.title"
                       class="property-img-fluid mx-auto">
                </a>
              </div>
              <div class="mt-4 text-center">
                <h5 class="mb-3 text-truncate">
                  <a (click)="navigateToDetail(property.id)" href="javascript: void(0);" class="text-dark">{{ property.title }}</a>
                </h5>

                <!-- City display with an icon -->
                <div class="city-display d-flex align-items-center justify-content-center mb-2">
                  <i class="bx bx-map-pin icon-city mr-2"></i> <!-- Replace 'bx-map-pin' with the icon class for the city icon you want to use -->
                  <span class="city-name">{{ property.city }}</span>
                </div>

                <p class="text-muted">
                  <i class="bx bx-star text-warning"></i>
                  <i class="bx bx-star text-warning"></i>
                  <i class="bx bx-star text-warning"></i>
                  <i class="bx bx-star text-warning"></i>
                  <i class="bx bx-star text-warning"></i>
                </p>
                <h5 class="my-0">
                  <span class="text-muted mr-2"><del>{{ property.pricePerDay }}</del></span>
                  MAD<b>{{ property.pricePerDay }} MAD</b>
                </h5>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row" *ngIf="loading">
        <div class="col text-center mt-4">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <p>Loading more...</p>
        </div>
      </div>
    </div>
  </section>

</div>
